<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>customproducttab</name>
	<displayName><![CDATA[Custom Product Tab]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Adds a custom tab to product edit page.]]></description>
	<author><![CDATA[Christos Patakias]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>